* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* -----FORMAT BODY----- */
body {
    background-color: #d9dcd6;
}
/* Select generic font-size of paragraph items within body */
p {
    font-size: 16px;
}

/* -----FORMAT HEADER----- */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header#seo h1 {
    color: #d9dcd6;
}
/* Properties of the header navigation bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px; 
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
.header a {
    color: #ffffff;
    text-decoration: none;
}

/* -----FORMAT MAIN----- */
.welcome-photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    background-position: center;
    
}
/* Properties for .content and items within .content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Consolidate formatting properties for headers <h2> in nested <section> blocks*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Consolidate height property for images within .content */
.content img {
    max-height: 200px;
}
/* Select location of images nested within .content */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/*Consolidate formatting properties for nested <section> blocks within .content*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* -----FORMAT ASIDE----- */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Consolidate class formatting properties nested within .benefits in the HTML <aside> tag*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Consolidate formatting properties for header <h3> within .benefits in the HTML <aside> tag */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Consolidate formatting properties for image/icons within .benefits in the HTML <aside> tag*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

/* -----FORMAT FOOTER ----- */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
#footer-header h2 {
    font-size: 20px;
}
